apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
spec:
  template:
    spec:
      containers:
        - name: hello-openshift
          image: image-registry.openshift-image-registry.svc:5000/api-dev/api:4
