apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
spec:
  replicas: 4
  template:
    spec:
      containers:
        - name: hello-openshift
          image: image-registry.openshift-image-registry.svc:5000/api-prod/api:1